html *
{
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

body
{
    background-color: #000000;
}

div
{
    padding: 10px;
}

#container
{
    background-color: white;
    width: 1000px;
    padding: 10px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
}

#heading
{
    background-color: #000044;
    color: white;
    text-align: center;
}

#pageTitle
{

}

#pageTitleBody
{

}

#content
{

}

#navigation
{
    width: 200px;
    float: left;
}

#main
{

}

#footing
{

}

#copyright
{
    clear: both;
    background-color: #808080
}

#resources
{

}